<head>
    <meta charset="utf-8">
    <title>{{ site.name }} - {{ page.title }}</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="{{ site.keywords }}" name="keywords">
    <meta content="{{ site.description }}" name="description">

    <!-- Manisfest -->
    <link rel="manifest" href="{{ "/site.webmanifest" | relative_url }}">

    <!-- Favicon -->
    <link rel="apple-touch-icon" sizes="180x180" href="{{ "/img/favicon/apple-touch-icon.png" | relative_url }}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ "/img/favicon/favicon-32x32.png" | relative_url }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ "/img/favicon/favicon-16x16.png" | relative_url }}">


    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500&family=Roboto:wght@500;700;900&display=swap" rel="stylesheet"> 

    <!-- Icon Font Stylesheet -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">

    <!-- Libraries Stylesheet -->
    <link href="{{ "/lib/animate/animate.min.css" | relative_url }}" rel="stylesheet">
    <link href="{{ "lib/owlcarousel/assets/owl.carousel.min.css" | relative_url }}" rel="stylesheet">
    <link href="{{ "lib/lightbox/css/lightbox.min.css" | relative_url }}" rel="stylesheet">

    <!-- Customized Bootstrap Stylesheet -->
    <link href="{{ "css/bootstrap.min.css" | relative_url }}" rel="stylesheet">

    <!-- Template Stylesheet -->
    <link href="{{ "css/style.css" | relative_url }}" rel="stylesheet">
</head>